/// @variables

// colors
$primary: #0081ff;
$success: #00B42A;
$warning: #FF7D00;
$danger: #F53F3F;
$purple: #722ED1;
$lime: #9FDB1D;
$yellow: #FADC19;
$pink: #D91AD9;
$gold: #F7BA1E;
$orange: #F77234;

$primary-dark: #3C7EFF;
$success-dark: #27C346;
$warning-dark: #FF9626;
$danger-dark: #F76965;
$purple-dark: #8E51DA;
$lime-dark: #B8E24B;
$yellow-dark: #FBE94B;
$pink-dark: #E13DDB;
$gold-dark: #F9CC44;
$orange-dark: #F9925A;

$white: #ffffff;
$black: #000000;

$body-bg-color-light: #e3e3e3;
$body-bg-color-dark: #232323;

$hljs-bg-light: #f8f8f8;
$hljs-bg-dark: rgb(34, 34, 34);
